
{% extends "base.html" %}

{% block title %}<title>系统测试</title>{% endblock %}


{% block content_body %}
	<div name="soft_manager" align="center">
		<table border="1" width=80%>
			<caption align="center">
				<h2 class="text-center">软件信息处理</h2>
			</caption>
			<tr>
				<td align="center"><a href="../software_manager/import_soft/">漏洞软件上传</a></td>
			</tr>
			<tr>
				<td align="center"><a href="../software_manager/show">软件源码列表</a></td>
			</tr>
			{% if user.is_staff %}
			<tr>
				<td align="center"><a href="../software_manager/graphDB/">图形数据库管理</a></td>
			</tr>
			<tr>
				<td align="center"><a href="../software_manager/graphDB_status/">图形数据库启动/关闭</a></td>
			</tr>
			{% endif %}
			
		</table>
	</div>
	<div name="diff_related" align="center">

		<table border="1px" cellspacing="0px" width=80%>
			<caption align="center">
				<h2 class="text-center">补丁文件处理</h2>
			</caption>
			<tr>
				<td align="center"><a href="../diffTest/import_diff">补丁文件入库</a></td>
			</tr>
			<tr>
				<td align="center"><a href="../diffTest/import_vuln">漏洞信息导入</a></td>
			</tr>
			<tr>
				<td align="center"><a href="../diffTest/diff_view">补丁信息一览</a></td>
			</tr>
		</table>
	</div>
	{% if user.is_staff %}
	<div name="redebug" align="center">
		<table border="1" width=80%>
			<caption align="center">
				<h2 class="text-center">redebug算法</h2>
			</caption>
			<tr>
				<td align="center"><a
					href="../algorithm/redebug_algorithm/cal_redebug">选择测试用例</a></td>
			</tr>
			<tr>
				<td align="center"><a
					href="../algorithm/redebug_algorithm/view_all">测试结果汇总</a></td>
			</tr>

		</table>
	</div>
	{% endif %}
	
	{% if user.is_staff %}
	<div name="vuln_patch_compare" align="center">
		<table border="1" class="col-lg-8 col-lg-offset-2">
			<caption align="center">
				<h2 class="text-center">漏洞函数/补丁函数相似性比较</h2>
			</caption>
			<tr>
				<td align="center">
				<a href="../algorithm/ast_level/func_similarity">基于AST算法</a>
				</td>
				
				<td align="center">
				<a href="../algorithm/graph/func_cfg_similarity">基于CFG算法</a>
				</td>
				
				<td align="center">
				<a href="../algorithm/graph/func_pdg_similarity">基于PDG算法</a>
				</td>
			</tr>
		</table>
	</div>
	{% endif %}
	
	{% if user.is_staff %}
	<div name="bug_find" align="center">
		<table border="1" class="col-lg-8 col-lg-offset-2">
			<caption align="center">
				<h2 class="text-center">漏洞搜索</h2>
			</caption>
			<tr>
			
				<td align="center">
				<a href="../algorithm/graph/bug_finder">基于CFG算法</a>
				</td>
				
			</tr>
			<tr><td align="center"><a href="">搜索记录</a></td></tr>
		</table>
	</div>
	{% endif %}
	
{% endblock %}