{% extends "../../mysite/templates/base.html" %}

{% block title %}
<title>Diff文件处理</title>
{% endblock %}

{% block addon %}
<script>
function add_id(vuln_id){
	document.getElementById('vulnid').value=vuln_id;
}
</script>
{% endblock %}

{% load bootstrap3 %}

{% block content_body %}
	<h2 align="center">补丁文件处理</h2>
	<form method="post">
	{% csrf_token %}
	{% if user.is_staff %}
	<div  align="center">
		<input class="btn btn-success" type="submit" name="clear_all" value="清空所有记录">
		<input class="btn btn-success" type="submit" name="make_all" value="生成所有记录">
		<input class="btn btn-success" type="submit" name="all_in_db" value="全部加入特征库">
		<input class="btn btn-success" type="submit" name="del_all" value="清空特征库">
	</div>
	<br>
	{% endif %}
	<input id="vulnid" type="hidden" name="vuln_id" value="">
	<table class="table table-bordered table-striped table-hover table-condensed" width="90%">
		<thead>
			<tr>
				<td colspan="4" class="text-center text-success">
				{% bootstrap_icon "tags" %} 基本信息</td>
				<td colspan="3" class="text-center text-primary">
				{% bootstrap_icon "book" %} 漏洞信息</td>
				<td colspan="3" class="text-center text-warning">
				{% bootstrap_icon "comment" %} 其他</td>
			</tr>
			<tr>
				<td class="text-center">CVE编号</td>
				<td class="text-center">CWE</td>
				<td class="text-center">漏洞软件</td>
				<td class="text-center">#</td>
				
				<td class="text-center">漏洞文件</td>
				<td class="text-center">漏洞函数名</td>
				<td class="text-center">#</td>
				
				<td class="text-center">漏洞函数源码</td>
				<td class="text-center">打补丁后函数源码</td>
				<td class="text-center">是否入库</td>
			</tr>
		</thead>
		
		<tbody>
			{% if infos %}
			{% for info in infos %}
			<tr>
				<td align="center">{{ info.cve_info.cveid }}</td>
				<td class="text-center">{{ info.cve_info.cweid }}</td>
				<td align="center">{{ info.cve_info.vuln_soft }}</td>
				<td class="text-center">
				<a href="/diffTest/modify_cve_infos/{{ info.cve_info.info_id }}">{% bootstrap_icon "search" %}</a>
				</td>
				
				<td align="center">{{ info.vuln_file }}</td>
				<td align="center">{{ info.vuln_func }}</td>
				<td class="text-center">
				<a href="/diffTest/modify_vuln_info/{{ info.vuln_id }}">{% bootstrap_icon "pencil" %}</a>
				</td>
				
				{% if info.vuln_func_source == "NO_FUNCTION_FOUND" %}
					<td align="center" colspan="2">未找到函数</td>
				{% elif info.vuln_func_source == "NO_VULN_FILE_FOUND" %}
					<td align="center" colspan="2">未找到漏洞文件</td>
				{% elif info.vuln_func_source %}
					<td align="center">
						<a href="/diffTest/view_vuln_func/{{ info.vuln_id }}/">有该漏洞函数</a>
					</td>
					
					{% if info.patched_func_source == "NO_MODIFICATION" %}
					<td align="center">无修改</td>
					{% else %}
					<td align="center">
						<a href="/diffTest/view_patch_func/{{ info.vuln_id }}/">无该漏洞函数</a>
					</td>
					{% endif %}
				{% else %}
					<td align="center" colspan="2">
					<input class="btn btn-primary btn-xs" 
					{% if info.user != user and not user.is_staff %} disabled="disabled" {% endif %}
					 type="submit" name="prase_diff" value="生成" 
					 onclick="return add_id({{ info.vuln_id }})"> 
					</td>
				{% endif %}
				
				{% if info.is_in_db %}
					<td align="center">已加入特征库</td>
				{% else %} 
					<td align="center">未加入特征库</td>
				{% endif %}
			</tr>
			{% endfor %}
			{% else %}
			<tr>
			<td align="center" colspan="9">无任何记录</td>
			</tr>
			{% endif %}
		</tbody>
		</table>	
	</form>
	<div align="center">
	{% bootstrap_pagination infos url="?page=1" %}
	</div>
{% endblock %}