{% extends "../../mysite/templates/base.html" %}

{% block title %}
<title>漏洞信息导入</title>
{% endblock %}
{% load bootstrap3 %} {% bootstrap_css %} {% bootstrap_javascript %}{% load staticfiles %}

{% block content_body %}
<div class="col-lg-6 col-lg-offset-3" style="margin-top:5%;">
<div class="panel panel-primary">
		<div class="panel-heading">
			<div class="panel-title text-center"> <font face="楷体" size="5">漏洞信息导入</font></div>
		</div>
		<div class="panel-body">
			<form method="post">{% csrf_token %}
				{% bootstrap_form vuln_info %}
				<input class="btn btn-block btn-success" type="submit" value="导入">
			</form>
		</div>
		{% if no_file_found %}<p class="text-center text-danger">
		未找到指定的漏洞文件，请按照提示提交并核实文件名，必要时联系管理员核实软件源码</p>{% endif %}
		{% if multi_file_found %}<p class="text-center text-danger">
		找到多个同名文件，请按照提示输入并核实文件名</p>{% endif %}
		{% if no_func_found %}<p class="text-center text-danger">
		在指定文件中未找到该函数，请核实后再提交，必要时联系管理员核实软件源码</p>{% endif %}
		{% if already %}<p class="text-center text-danger">该漏洞信息已经上传</p>{% endif %}
</div>
</div>

<div class="col-lg-12" style="margin-top:2%;">
<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title text-center text-warning style="font-size:24px;">温馨提示</div>
	</div>
	<div class="panel-body">
		<div align="center">
			<p class="text-center text-danger">1.如果补丁文件对应部分类似下图，不包含漏洞文件的路径，请填写s3_srvr.c</p>
			<img class="img-rounded img-responsive img-thumbnail" style="background:#CC0" 
			src="{% static 'images/only_filename.png' %}">
		</div>
		<br>
		<div align="center">
			<p class="text-danger">2.如果补丁文件对应部分类似下图，包含漏洞文件路径，请填写/drives/tty/n_tty.c</p>
			<img class="img-rounded img-responsive img-thumbnail" style="background:#CC0" 
			src="{% static 'images/path_filename.png' %}">
		</div>
	</div>		
</div>
</div>
{% endblock %}