{% extends "../../mysite/templates/base.html" %}
{% block title %}
<title>图形数据库启动/关闭</title>
{% endblock %}

{% block addon %}
<script>
	function modi_value(id, value) {
		document.getElementById(id).value = value;
	}
</script>
{% endblock %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content_body %}
	<h1 align="center">图形数据库启动/关闭</h1>
	<form method="post">
		{% csrf_token %}
		<table class="table table-bordered">
			<caption class="text-center">漏洞特征数据库</caption>
			<tr>
				<th class="text-center">数据库</th>
				<th class="text-center">状态</th>
				<th class="text-center">端口</th>
				<th class="text-center">操作</th>
			</tr>
			<tr>
				<td align="center">漏洞特征数据库</td> 
				{% if status == "ON" %}
				<td align="center">已启动</td>
				<td align="center">7474</td>
				<td align="center"><input class="btn btn-sm btn-danger" type="submit" name="shut_down" , value="关闭"></td>
				{% elif status == "OFF" %}
				<td align="center">未启动</td>
				<td align="center">无</td>
				<td align="center">
				<input class="btn btn-sm btn-success {% if not user.is_staff %}disabled{% endif %}" 
				type="submit" name="start" value="启动"></td> 
				{% elif status == "NO_DB" %}
				<td align="center">未生成</td>
				<td align="center">无</td>
				<td align="center">无</td>
				{% endif %}
			</tr>
		</table>
	</form>
	<br><div style="border-bottom:1px dashed;width=80%"></div><br>
	<form method="post">
		{% csrf_token %} <input type="hidden" id="on" name="start" value="">
		<input type="hidden" id="off" name="stop" value="">
		<table class="table table-bordered">
			<caption class="text-center">软件图形数据库</caption>
			<tr>
				<th class="text-center">软件名</th>
				<th class="text-center">版本</th>
				<th class="text-center">数据库状态</th>
				<th class="text-center">端口号</th>
				<th class="text-center">操作</th>
			</tr>
			{% if infos %} 
			{% for info in infos %}
			<tr>
				<td align="center">{{ info.soft.software_name }}</td>
				<td align="center">{{ info.soft.software_version }}</td> 
				{% if info.status == "pending" %}
				<td align="center">启动中</td>
				<td align="center">无</td>
				<td align="center">无</td> 
				{% elif info.status == "stoped" %}
				<td align="center">未启动</td>
				<td align="center">无</td>
				<td align="center">
				<input class="btn btn-success {% if not user.is_staff %}disabled{% endif %}"
				 	type="submit" name="start_db"
					value="启动数据库"
					onclick="modi_value('on', {{ info.soft.software_id }})">
				</td> 
				{% elif info.status == "started" %}
				<td align="center">已启动</td>
				<td align="center">{{ info.port }}</td>
				<td align="center">
				<input class="btn btn-danger {% if not user.is_staff %}disabled{% endif %}" 
					type="submit" name="stop_db"
					value="关闭数据库"
					onclick="modi_value('off', {{ info.soft.software_id }})">
				</td>
				{% endif %}
			</tr>
			{% endfor %} 
			{% else %}
			<tr>
				<td align="center" colspan="5">无任何记录</td>
			</tr>
			{% endif %}
		</table>
	</form>
{% endblock %}